body {
    font-family: Monaco, Arial, Helvetica, sans-serif;
    background:#252525;
    color:#ebebeb;
}

.content {
    max-width: 400px;
    margin: 100px auto;
}

.intro {
    color: #14db49;
    position: relative;
    display: inline-block;
    font-weight:bold;
}

.menu{
    margin-right: 5px;
}

.menu {
    color: #ebebeb;
    font-size: 16px;
    font-weight:bold;
    text-decoration: none;
}

a:hover {
    color: #14db49
}

.text::after {
    content: "";
    position: absolute;
    top: 0;
    right: -15px;
    /* Remove display: inline-block if not required to be on the same line as text etc */
    display: inline-block;
    background-color: #14db49;
    vertical-align: top;
    width: 10px;
    /* Set height to the line height of .text */
    height: 16px;
    /* 
        Animation paramaters:
        blink = animation-name, 
        1s = animation-duration, 
        step-end = animation-timing-function,
        infinite = animation-iteration-count
   */
    -webkit-animation: blink 1s step-end infinite;
    animation: blink 1s step-end infinite;
}

@-webkit-keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
